*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(iStock-1434310465-1024x703.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header img{
    width: 240px;
    margin-left: 20px;
}

header{
    text-align: center;
}

#faca-cadastro p{
    font: 400 20px 'Mont', sans-serif;
}

#faca-cadastro h1{
    font: 400 25px 'Unb', sans-serif;
}

#faca-cadastro{
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

#faca-cadastro img{
    width: 70px;
}

#senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 18px;
    font: 400 20px 'Mont', sans-serif;
    outline: none;
}

.input{
    display: flex;
    align-items: center;
}

.input i{
    font-size: 20px;
}

#entradaSenha {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
}

#medidorPoder {
    margin-top: 10px;
    height: 20px;
    width: 0;
    background-color: gray;
    transition: width 0.3s, background-color 0.3s;
}

#requisitos {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.requisito {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.vermelho {
    color: red;
    transition: color 0.3s;
}

.verde {
    color: green;
    transition: color 0.3s;
}

#textoPoder {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#mostrarSenha {
    margin-top: 10px;
    cursor: pointer;
    color: #4285F4;
  }

  .titulo {
    color: white;
    margin-top: 30px;
  }
  .txt {
    color: white;
    margin-top: 20px;
  }